ADMIN_PASSWORD=
NEXT_PUBLIC_SITE_URL=https://futurelogix.ng
NOTIFY_FROM=admin@futurelogix.ng
NOTIFY_TO=admin@futurelogix.ng
NOTIFY_ARCHIVE_TO=submissions@futurelogix.ng
DATABASE_URL=
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
